.BarraInferior{
    position:fixed;
    left:0;
    bottom:0;
    background-color: black;
    text-align: center;
    color: aliceblue;
    width: 100%;
    height: fit-content;
}

h4{
    color:gainsboro;
    display: inline;
}

#colores{
    background-color: #D98814;
    border-radius: 15px;
}

h2 {
    display: inline;
}